.searchbar-input {
  border: 0 !important;
  box-shadow: none !important;
}

.pub-date {
  float: right;
  font-size: small;
}

.blue-icon {
  --background: #096;
}

.avatar-img {
  width: 75px;
  height: 75px;
  margin-right: 8px;
}

.title-txt {
  font-size: medium;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.small-txt {
  font-size: small;
}

.centre-text {
  text-align: center;
  font-size: medium;
  font-weight: bold;
}

.copyright-txt {
  font-size: x-small;
  font-weight: 300;
  text-align: center;
}

ion-item {
  --border-color: #605ca8;
}
