<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Article </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let image of articleToView?.media">
    <div *ngFor="let imageMetadata of image['media-metadata']; let last = last" style="height: 100%;">
      <div *ngIf="last" class="img-wrapper">
        <img class="article-img" *ngIf="last" src={{imageMetadata.url}} alt="">
        <div *ngIf="last" class="caption-wrapper">
          <p class="img-caption">
            {{image.caption}}
          </p>
        </div>

      </div>

    </div>
  </div>

  <ion-card class="article-wrapper">
    <ion-card-header class="title-txt">
      {{articleToView?.title}}
    </ion-card-header>
    <ion-card-content>

      <p class="author-txt">{{articleToView?.byline}}</p>
      <p class="artice-dates">Published {{articleToView?.published_date}} , Updated {{articleToView?.updated}}</p>
      <p><span class="bold-txt">Source: </span>{{articleToView?.source}}</p>
      <p><span class="bold-txt">Section: </span>{{articleToView?.section}}</p>
      <p></p>
      <p>{{articleToView?.abstract}} <span class="my-link" (click)="readMore(articleToView?.url)">Read more...</span>
      </p>

    </ion-card-content>
  </ion-card>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="fab-btm-margin">
    <ion-fab-button size="small" (click)="shareArticle()">
      <ion-icon name="share-social-sharp"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
